:root {
    --primary: #283241;
    --light: #ffffff;
    --light-blue: #F5F6FA;
    --grey: #eff2f7;
  }
  
  body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
    font-weight: 700;
  }
  
  .text-muted {
    color: var(--primary) !important;
    opacity: .7;
  }

  .text-color {
    color: var(--light) !important;
    opacity: 7;
  }

  .text-dark{
    color: #000000;
  }
  .text-grande{
    font-size: 20px;
  }

  .txt-mas{
    font-size: 30px;
  }
  
  .bg-light {
    background-color: var(--light) !important;
  }
  
  .bg-light-blue {
    background-color: var(--light-blue) !important;
  }
  
  .shadow-sm {
    box-shadow: 0 0 1.25rem rgba(11,37,75,.05);
  }
  
  .shadow-hover {
    transition: 1s ease-in-out;
  }
  
  .shadow-hover:hover {
    transition: .5s ease-in-out;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
   /*box-shadow: 0 .5rem 1rem rgba(11,37,75,.10)!important;*/
  }
  

  /*CONTENEDOR DASHBOARD MENU LATERAL IZQUIERDA*/
  #sidebar-container {
    min-height: 100vh;
    margin-left: -12rem;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-container .logo{
    padding: 0.875rem 1.25rem;
  }
  
  #sidebar-container .menu {
    width: 12rem; /*TENIA -18rem*/
  }
  
  #content-wrapper.toggled #sidebar-container {
    margin-left: 0;
  }
  

  
   /*CONTENEDOR DASHBOARD MENU LATERAL DERECHA TRANSPARENTE*/
  .der {
    position: absolute;
    top: 5px;
    right: 30px;
    height: 100%;
  }

  .pos-der{
    text-align: right;
  }
    /*CONTENEDOR DASHBOARD MENU LATERAL DERECHA*/
    #menu2-derecha {
      min-height: 100vh;
      margin-right: -12rem;
      -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
      box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
    }
    #menu2-derecha .logo{
      padding: 0.875rem 1.25rem;
    }
    #menu2-derecha .menu2 {
      width: 18rem; /*TENIA -18rem*/
    }
    #content-wrapper.toggled #menu-derecha {
      margin-right: 0;
    }
    @media (min-width: 768px) {
    #menu2-derecha {
      margin-right: 0;
    }
    #content-wrapper.toggled #menu2-derecha {
      margin-right: -18rem;
    }
    }



  .circle {
    width: 50px;
    height: 50px;
  }
  
  .badge {
    padding: .5rem 1rem;
  }
  
  .bg-primary, .badge-primary {
    background-color: rgba(0, 123, 255, .1) !important;
  }
  
  .avatar {justify-content: center;
    max-width: 35px;
  }
  
  .btn-primary {
    background-color: rgba(0, 123, 255, .1) !important;
    border: 0;
  }
  
  .btn-primary:hover {
    background-color: rgba(0, 123, 255, .2) !important;
  }


  .center{
    text-align: center;
  }

  .color-gris{
    background-color:rgb(97, 96, 96);
    height: 210px;
    min-width: 0px;
    border-radius: 25px;
    justify-content: center;
    }
  .color-amarillo{
    background-color:rgb(211, 140, 9);
    height: 210px;
    min-width: 0px;
    border-radius: 25px;
    justify-content: center;
    }
  .color-morado{
    background-color:rgb(171, 9, 211);
    height: 210px;
    min-width: 0px;
    border-radius: 25px;
    justify-content: center;
    }
  .color-azul{
    background-color:rgb(9, 154, 211);
    height: 210px;
    min-width: 0px;
    border-radius: 25px;
    justify-content: center;
    }
  .color-rojo{
    background-color: rgb(211, 9, 9);
    height: 210px;
    min-width: 0px;
    border-radius: 25px;
    justify-content: center;
    }
  .color-blanco{
    background-color: rgb(255, 255, 255);
    height: 210px;
    min-width: 0px;
    border-radius: 25px;
    justify-content: center;
    }
  .border-radius{
      border-radius: 25px;
      background-color:rgb(255, 255, 255);
    }

/*Diseño menu consultas*/
  .color-menuconsulta{
    background-color: rgb(255, 255, 255);
    height: 230px;
    min-width: 0px;
    border-radius: 5px;
    justify-content: center;
    }
  .colorfondo-consulta{
    color: transparent;
  }
  .sombrado{
    border-radius: 5px;
    transition: 0s ease-in-out;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }

    
/* DISEÑO BOTONES MENU LATERAL */
#miBoton { 
  padding: 30px; 
  background: light-gray; 
  color: gray; 
} 
#miBoton:hover { 
  padding: 30px; 
  background: rgb(255, 255, 255); 
  color: black; 
} 
#miBoton:active { 
  padding: 30px; 
  background: gray; 
  color: white; 
}  
.button-tamaño{
  height:8rem;
  width:8rem;
}
/*quitar borde cuadrado con outline y poner en radius con transparencia sombrado*/
.btn-focus:focus {
  outline:0 !important;
  transition: 0s ease-in-out;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  /*box-shadow: 0 .5rem 1rem rgba(11,37,75,.10)!important;*/
}
/* button:focus{outline:0 !important;}
*/
/* FIN DISEÑO BOTONES MENU LATERAL */


  .badge-secondary {
    background-color: var(--grey);
    color: var(--primary);
  }
  
  #content {
    overflow-y: auto;
    height: 100vh;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 .5rem;
  }
  
  table thead th {
    border: 0 !important;
  }
  
  table tbody tr {
    background-color: var(--light);
  }
  
  table tbody td {
    border-top: 0 !important;
    line-height: 1.2;
  }
  
  
  @media (min-width: 768px) {
    #sidebar-container {
      margin-left: 0;
    }
    #content-wrapper.toggled #sidebar-container {
      margin-left: -18rem;
    }
  }
  

  .btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform:none; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: black; /* Color del texto */
    border-radius: 5px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
    background-color:transparent; /* Color de fondo */
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .btn-flotante:hover {
    background-color:transparent; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  } 




  .btn-flotante2 {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform:none; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: rgb(39, 38, 38); /* Color del texto */
    letter-spacing: 2px; /* Espacio entre letras */
    padding: 18px 30px; /* Relleno del boton */
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(255, 254, 254, 0.1);
    z-index: 99;
  }
  .btn-flotante2:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante2 {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  } 


  
  .flex{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal{
    display: none;
    position: fixed;
    z-index:1;
    overflow: auto;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    background: rgba(114, 111, 111, 0.452);
  }
  
  .contenido-modal{
    position: fixed;
    bottom: 110px;
    right: 40px;
    background-color: #fefefe;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(253, 253, 253, 0.4);
    animation-name: modal;
    animation-duration: 0s;
  }
  @keyframes modal{
    from{top:-330px; opacity:0;}
    to{top:0; opacity:1;}
  }
  .close{
    color: #423d3d;
    font-size:30px;
    font-weight: bold;
  }
  .close:hover{
    color:#000000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header, .footer{
    padding: 8px 16px;
    background: #ffffff;
    color:#f2f2f2;
  }
  
  p{
    text-align: justify;
  }
  
  .modal-body{
    padding: 20px 16px;
  }
  
  @media screen and (max-width:900px){
    .contenido-modal{
      width: 70%;
    }
    .textos{
      padding: 150px;
    }
  }
  
  @media screen and (max-width:500px){
    .textos{
      padding:50px;
    }
  }